html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Arial";
  background-color: rgb(49, 71, 85);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 45px;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

#fullscreen_button_container {
  float: right;
}

.navbar button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
}

.navbar button:hover {
  background-color: #111;
}

.pageContainer {
  position: absolute;
  width: 100%;
  top: 45px;
  bottom: 0;
}

.action_button {
  color: #fff !important;
  text-transform: uppercase;
  background: #d62825;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
}

.action_button:hover {
  background: #e6aa32;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.50);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.50);
  transition: all 0.4s ease 0s;
  border: none;
}
